@model Cladtek_Interview.Models.Overtime

@{
    ViewBag.Title = Model.OvertimeId == 0 ? "Add New Overtime" : "Edit Overtime";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />

<div class="content-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Overtime Form</h3>
                </div>

                @using (Html.BeginForm(Model.OvertimeId == 0 ? "Create" : "Edit", "Overtime", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    if (Model.OvertimeId > 0)
                    {
                        @Html.HiddenFor(m => m.OvertimeId)
                    }

                    <div class="box-body">
                        <div class="form-group">
                            <label>Employee <span class="text-red">*</span></label>
                            @Html.DropDownListFor(m => m.EmployeeId,
                                new SelectList(ViewBag.Employees, "EmployeeId", "EmployeeName"),
                                "-- Select Employee --",
                                new { @class = "form-control", @id = "EmployeeId" })
                            @Html.ValidationMessageFor(m => m.EmployeeId, "", new { @class = "text-red" })
                        </div>
                        <div class="form-group">
                            <label>Overtime Date <span class="text-red">*</span></label>
                            @Html.TextBoxFor(m => m.OvertimeDate,
                                new { @class = "form-control", @type = "date", @id = "OvertimeDate" })
                            @Html.ValidationMessageFor(m => m.OvertimeDate, "", new { @class = "text-red" })
                        </div>
                        <div class="form-group">
                            <label>Time Start <span class="text-red">*</span></label>
                            <div class='input-group date' id='datetimeStart'>
                                @Html.TextBoxFor(m => m.TimeStart,
                                    new { @class = "form-control", @placeholder = "HH:mm", @id = "TimeStart" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(m => m.TimeStart, "", new { @class = "text-red" })
                        </div>
                        <div class="form-group">
                            <label>Time Finish <span class="text-red">*</span></label>
                            <div class='input-group date' id='datetimeFinish'>
                                @Html.TextBoxFor(m => m.TimeFinish,
                                    new { @class = "form-control", @placeholder = "HH:mm", @id = "TimeFinish" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(m => m.TimeFinish, "", new { @class = "text-red" })
                        </div> 
                        <div class="form-group">
                            <label>Description</label>
                            @Html.TextAreaFor(m => m.Description,
                                new { @class = "form-control", @rows = "3", @placeholder = "Enter description" })
                        </div>
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i> Save
                        </button>
                        <a href="@Url.Action("Index")" class="btn btn-default">
                            <i class="fa fa-times"></i> Cancel
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datetimeStart').datetimepicker({
                format: 'HH:mm',
                stepping: 15
            });

            $('#datetimeFinish').datetimepicker({
                format: 'HH:mm',
                stepping: 15
            });
            $('#TimeStart, #TimeFinish').on('change.datetimepicker', function () {
                calculateOTHours();
            });

            function calculateOTHours() {
                var timeStartVal = $('#TimeStart').val();
                var timeFinishVal = $('#TimeFinish').val();

                if (timeStartVal && timeFinishVal) {
                    var startParts = timeStartVal.split(':');
                    var finishParts = timeFinishVal.split(':');
                    var startHours = parseInt(startParts[0]);
                    var startMinutes = parseInt(startParts[1]);
                    var finishHours = parseInt(finishParts[0]);
                    var finishMinutes = parseInt(finishParts[1]);
                    var startTotalMinutes = startHours * 60 + startMinutes;
                    var finishTotalMinutes = finishHours * 60 + finishMinutes;
                    if (finishTotalMinutes < startTotalMinutes) {
                        finishTotalMinutes += 24 * 60;
                    }
                    var diffMinutes = finishTotalMinutes - startTotalMinutes;
                    var diffHours = diffMinutes / 60;
                    if (diffHours <= 0) {
                        alert('Time Finish must be after Time Start');
                        $('#TimeFinish').val('');
                        $('#ActualOTHours').val('');
                        $('#CalculatedOTHours').val('');
                        return;
                    }

                    if (diffHours > 3) {
                        alert('Maximum OT hours is 3 hours');
                        $('#TimeFinish').val('');
                        $('#ActualOTHours').val('');
                        $('#CalculatedOTHours').val('');
                        return;
                    }
                    $('#ActualOTHours').val(diffHours.toFixed(2));
                    var calculatedHours = diffHours * 2;
                    $('#CalculatedOTHours').val(calculatedHours.toFixed(2));
                }
            }
            calculateOTHours();
        });
    </script>
}