@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Cladtek_Interview.Models.Overtime>

@{
    ViewBag.Title = "Overtime Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <h1>Overtime Management</h1>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">List of Overtime Data</h3>
                    <div class="box-tools pull-right">
                        <a href="@Url.Action("Create")" class="btn btn-primary btn-sm">
                            <i class="fa fa-plus"></i> Add New Overtime
                        </a> 
                    </div>
                </div>

                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 8%">No</th>
                                <th>Employee</th>
                                <th>Department</th>
                                <th>OT Date</th>
                                <th>Time Start</th>
                                <th>Time Finish</th>
                                <th>Actual OT Hours</th>
                                <th>Calculated OT Hours</th>
                                <th style="width: 15%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int count = (Model.PageNumber - 1) * Model.PageSize + 1;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@item.Employee.EmployeeName</td>
                                    <td>@item.Employee.Department.DepartmentName</td>
                                    <td>@item.OvertimeDate.ToString("dd/MM/yyyy")</td>
                                    <td>@item.TimeStart.ToString("HH:mm")</td>
                                    <td>@item.TimeFinish.ToString("HH:mm")</td>
                                    <td>
                                        <span class="badge badge-info">@item.ActualOTHours.ToString("F2")</span>
                                    </td>
                                    <td>
                                        <span class="badge badge-success">@item.CalculatedOTHours.ToString("F2")</span>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="@Url.Action("Edit", new { id = item.OvertimeId })" class="btn btn-xs btn-info" style="margin-right: 5px;" title="Edit">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <button type="button" class="btn btn-xs btn-danger delete-overtime-btn" data-overtime-id="@item.OvertimeId" title="Delete">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td> 
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>

                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <span>Page @Model.PageNumber of @Model.PageCount</span>
                        </div>
                        <div class="col-md-6 text-right">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.AntiForgeryToken()

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () { 
            $(document).on('click', '.delete-overtime-btn', function (e) {
                e.preventDefault();
                e.stopPropagation();

                var overtimeId = $(this).data('overtime-id');
                var employeeName = $(this).closest('tr').find('td:nth-child(2)').text();
                var overtimeDate = $(this).closest('tr').find('td:nth-child(4)').text();

                if (!overtimeId) {
                    alert('Error: Overtime ID not found');
                    return false;
                }

                if (confirm('Are you sure you want to delete overtime entry for ' + employeeName + ' on ' + overtimeDate + '?')) {
                    var $btn = $(this);
                    var $icon = $btn.find('i'); 
                    $btn.prop('disabled', true);
                    $icon.removeClass('fa-trash').addClass('fa-spinner fa-spin'); 
                    var token = $('input[name="__RequestVerificationToken"]').val();

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delete", "Overtime")',
                        data: {
                            id: overtimeId,
                            __RequestVerificationToken: token
                        },
                        dataType: 'json',
                        success: function (response) {
                            if (response.success) {
                                alert(response.message);
                                location.reload();
                            } else {
                                alert('Error: ' + response.message);
                                $btn.prop('disabled', false);
                                $icon.removeClass('fa-spinner fa-spin').addClass('fa-trash');
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error('AJAX Error:', error);
                            console.error('Status:', status);
                            console.error('Response:', xhr.responseText);
                            alert('Error occurred while processing your request. Details: ' + error);
                            $btn.prop('disabled', false);
                            $icon.removeClass('fa-spinner fa-spin').addClass('fa-trash');
                        }
                    });
                }

                return false;
            });
        });
    </script>
}