﻿@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Cladtek_Interview.Models.Employee>

@{
    ViewBag.Title = "Employee Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <h1>Employee Management</h1>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">LIST OF THE EMPLOYE DATA</h3>
                    <div class="box-tools pull-right">
                        <a href="@Url.Action("Create")" class="btn btn-primary btn-sm">
                            <i class="fa fa-plus"></i> Add New Employee
                        </a>
                    </div>
                </div>

                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 10%">No</th>
                                <th>NIK</th>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Position</th>
                                <th style="width: 10%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int count = (Model.PageNumber - 1) * Model.PageSize + 1;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@item.NIK</td>
                                    <td>@item.EmployeeName</td>
                                    <td>@item.Department.DepartmentName</td>
                                    <td>@item.Position</td>
                                    <td style="text-align: center;">
                                        <a href="@Url.Action("Edit", new { id = item.EmployeeId })" class="btn btn-xs btn-info" style="margin-right: 5px;" title="Edit">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <button type="button" class="btn btn-xs btn-danger delete-employee-btn" data-employee-id="@item.EmployeeId" title="Delete">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>

                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <span>Page @Model.PageNumber of @Model.PageCount</span>
                        </div>
                        <div class="col-md-6 text-right">
                            @if (Model.HasPreviousPage)
                            {
                                <a href="@Url.Action("Index", new { page = Model.PageNumber - 1 })" class="btn btn-default">
                                    <
                                </a>
                            }

                            @for (int i = 1; i <= Model.PageCount; i++)
                            {
                                if (i == Model.PageNumber)
                                {
                                    <span class="btn btn-primary">@i</span>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index", new { page = i })" class="btn btn-default">@i</a>
                                }

                                if (i < Model.PageCount)
                                {
                                    <span> | </span>
                                }
                            }

                            @if (Model.HasNextPage)
                            {
                                <a href="@Url.Action("Index", new { page = Model.PageNumber + 1 })" class="btn btn-default">
                                    >
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.AntiForgeryToken()

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.delete-employee-btn', function (e) {
                e.preventDefault();
                e.stopPropagation();

                var employeeId = $(this).data('employee-id');
                var employeeName = $(this).closest('tr').find('td:nth-child(3)').text();

                if (!employeeId) {
                    alert('Error: Employee ID not found');
                    return false;
                }

                if (confirm('Are you sure you want to delete employee: ' + employeeName + '?')) {
                    var $btn = $(this);
                    var $icon = $btn.find('i');
                    $btn.prop('disabled', true);
                    $icon.removeClass('fa-trash').addClass('fa-spinner fa-spin');
                    var token = $('input[name="__RequestVerificationToken"]').val();

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delete", "Employee")',
                        data: {
                            id: employeeId,
                            __RequestVerificationToken: token
                        },
                        dataType: 'json',
                        success: function (response) {
                            if (response.success) {
                                alert(response.message);
                                location.reload();
                            } else {
                                alert('Error: ' + response.message);
                                $btn.prop('disabled', false);
                                $icon.removeClass('fa-spinner fa-spin').addClass('fa-trash');
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error('AJAX Error:', error);
                            console.error('Status:', status);
                            console.error('Response:', xhr.responseText);
                            var errorMessage = 'Error occurred while processing your request.';
                            if (xhr.responseJSON && xhr.responseJSON.message) {
                                errorMessage = xhr.responseJSON.message;
                            } else if (xhr.statusText) {
                                errorMessage = xhr.statusText;
                            }

                            alert(errorMessage);
                            $btn.prop('disabled', false);
                            $icon.removeClass('fa-spinner fa-spin').addClass('fa-trash');
                        }
                    });
                }

                return false;
            });
        });
    </script>
}